# Project Information
site_name: Horizon APIs
site_url: https://euc-dev.github.io/horizon-apis/
site_author: Phil Helmling
site_description: Submodule for developer.omnissa.com
docs_dir: docs
site_dir: .site
use_directory_urls: true

# Repository
repo_url: https://github.com/euc-dev/horizon-apis
edit_uri: edit/main/docs/

# Copyright
copyright: |
  Copyright &copy; 2005-2025 Omnissa, LLC. All rights reserved.<br/>

# Configuration
theme:
  name: material
  # custom_dir: overrides
  favicon: assets/logos/favicon-light.svg
  logo: assets/logos/favicon-dark.svg
  admonition:
      note: fontawesome/solid/note-sticky
      abstract: fontawesome/solid/book
      info: fontawesome/solid/circle-info
      tip: fontawesome/solid/bullhorn
      success: fontawesome/solid/check
      question: fontawesome/solid/circle-question
      warning: fontawesome/solid/triangle-exclamation
      failure: fontawesome/solid/bomb
      danger: fontawesome/solid/skull
      bug: fontawesome/solid/robot
      example: fontawesome/solid/flask
      quote: fontawesome/solid/quote-left
  icon:
    repo: fontawesome/brands/github
    annotation: material/plus-circle
    annotation: material/circle-medium
    annotation: material/record-circle
    annotation: material/arrow-right-circle
    annotation: material/arrow-right-circle-outline
    annotation: material/chevron-right-circle
    annotation: material/star-four-points-circle
    annotation: material/plus-circle-outline
  palette:
    scheme: omnissa
    primary: dark-shade-blue
    accent: neon
  font:
    text: Outfit
    code: Poppins
  features:
  - content.action.edit
  - content.action.view
  - content.code.annotate
  - content.code.copy
  - content.tabs.link
  - navigation.header
  - navigation.indexes
  - navigation.instant
  - navigation.path
  - navigation.sections
  - navigation.tabs
  - navigation.tabs.sticky
  - navigation.top
  - navigation.tracking
  - search.highlight
  - search.share
  - search.suggest
  - toc.follow

# Plugins
plugins:
  - search:
      separator: '[\s\u200b\-,:!=\[\]()"`/]+|\.(?!\d)|&[lg]t;|(?!\b)(?=[A-Z][a-z])'
  - open-in-new-tab
  - markdownextradata:
      jinja_options:
        variable_start_string: "${{"
        variable_end_string: "}}"
  - git-revision-date-localized:
      enabled: !ENV [CI, false]
      enable_creation_date: false
      exclude:
        - index.md
      fallback_to_build_date: true
      type: timeago
  - swagger-ui-tag:
        docExpansion: none
        filter: ""
        syntaxHighlightTheme: monokai
  - monorepo
  - macros

# Customization
extra:
  homepage: https://omnissa.com

extra_css:
  - assets/stylesheets/extra.css
  - assets/stylesheets/footer.Cx6ysBfj.css
  - assets/stylesheets/neoteroi-mkdocsoad.css
  - assets/stylesheets/neoteroi-mkdocs.css

extra_javascript:
  - assets/javascripts/tablesort.min.js #https://unpkg.com/tablesort@5.3.0/dist/tablesort.min.js
  - assets/javascripts/tablesort.js

# Extensions
markdown_extensions:
  - admonition
  - attr_list
  - footnotes
  - md_in_html
  - neoteroi.spantable
  - neoteroi.cards
  - pymdownx.details
  - pymdownx.critic
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
      options:
        custom_icons:
        - material/.icons
  - pymdownx.inlinehilite
  - pymdownx.highlight:
      use_pygments: true
  - pymdownx.snippets:
  - pymdownx.superfences:
      custom_fences:
      - name: mermaid
        class: mermaid
        format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - tables
  - toc:
      permalink: true

# Navigation
nav:
  - Horizon APIs: index.md
  - Horizon Server: 
    - horizon-server/index.md
    - Versions:
      - horizon-server/versions/2512/index.md
      - v2512: horizon-server/versions/2512/index.md
      - v2506: horizon-server/versions/2506/index.md
      - v2503: horizon-server/versions/2503/index.md
      - v2412: horizon-server/versions/2412/index.md
      - v2406: horizon-server/versions/2406/index.md
      - v2312: horizon-server/versions/2312/index.md
      - v2309: horizon-server/versions/2309/index.md
      - v2306: horizon-server/versions/2306/index.md
      - v2303: horizon-server/versions/2303/index.md
      - v2212: horizon-server/versions/2212/index.md
      - v2209: horizon-server/versions/2209/index.md
      - v2206: horizon-server/versions/2206/index.md
      - v2111: horizon-server/versions/2111/index.md
      - v2106: horizon-server/versions/2106/index.md
      - v2103: horizon-server/versions/2103/index.md
      - v2012: horizon-server/versions/2012/index.md
      - v8.0.0: horizon-server/versions/8.0.0/index.md
      - v7.12.0: horizon-server/versions/7.12.0/index.md
      - v7.11.0: horizon-server/versions/7.11.0/index.md
      - v7.10.0: horizon-server/versions/7.10.0/index.md
  - Horizon Cloud Service Next Gen: horizon-cloud-nextgen/index.md
  - Horizon DaaS: horizon-daas/index.md
  - View:
    - view/index.md
    - Versions:
      # - view/versions/2512/index.md
      - v2512: 
        - view/versions/2512/index.md
        - Service Types: view/versions/2512/mo-types-landing.md
        - Data Object Types: view/versions/2512/do-types-landing.md
        - Fault Types: view/versions/2512/fault-types-landing.md
        - All Types: view/versions/2512/all-types-landing.md
        - All Methods: view/versions/2512/methods-landing.md
        - All Properties: view/versions/2512/properties-landing.md
        - Query Service: view/versions/2512/queries-landing.md
        - Error Attributes: view/versions/2512/error-attributes.md
        - Error Codes: view/versions/2512/error-codes.md
      - v2506: 
        - view/versions/2506/index.md
        - Service Types: view/versions/2506/mo-types-landing.md
        - Data Object Types: view/versions/2506/do-types-landing.md
        - Fault Types: view/versions/2506/fault-types-landing.md
        - All Types: view/versions/2506/all-types-landing.md
        - All Methods: view/versions/2506/methods-landing.md
        - All Properties: view/versions/2506/properties-landing.md
        - Query Service: view/versions/2506/queries-landing.md
        - Error Attributes: view/versions/2506/error-attributes.md
        - Error Codes: view/versions/2506/error-codes.md
      - v2503: 
        - view/versions/2503/index.md
        - Service Types: view/versions/2503/mo-types-landing.md
        - Data Object Types: view/versions/2503/do-types-landing.md
        - Fault Types: view/versions/2503/fault-types-landing.md
        - All Types: view/versions/2503/all-types-landing.md
        - All Methods: view/versions/2503/methods-landing.md
        - All Properties: view/versions/2503/properties-landing.md
        - Query Service: view/versions/2503/queries-landing.md
        - Error Attributes: view/versions/2503/error-attributes.md
        - Error Codes: view/versions/2503/error-codes.md
      - v2412: 
        - view/versions/2412/index.md
        - Service Types: view/versions/2412/mo-types-landing.md
        - Data Object Types: view/versions/2412/do-types-landing.md
        - Fault Types: view/versions/2412/fault-types-landing.md
        - All Types: view/versions/2412/all-types-landing.md
        - All Methods: view/versions/2412/methods-landing.md
        - All Properties: view/versions/2412/properties-landing.md
        - Query Service: view/versions/2412/queries-landing.md
        - Error Attributes: view/versions/2412/error-attributes.md
        - Error Codes: view/versions/2412/error-codes.md
      - v2406: 
        - view/versions/2406/index.md
        - Service Types: view/versions/2406/mo-types-landing.md
        - Data Object Types: view/versions/2406/do-types-landing.md
        - Fault Types: view/versions/2406/fault-types-landing.md
        - All Types: view/versions/2406/all-types-landing.md
        - All Methods: view/versions/2406/methods-landing.md
        - All Properties: view/versions/2406/properties-landing.md
        - Query Service: view/versions/2406/queries-landing.md
        - Error Attributes: view/versions/2406/error-attributes.md
        - Error Codes: view/versions/2406/error-codes.md
      - v2312: 
        - view/versions/2312/index.md
        - Service Types: view/versions/2312/mo-types-landing.md
        - Data Object Types: view/versions/2312/do-types-landing.md
        - Fault Types: view/versions/2312/fault-types-landing.md
        - All Types: view/versions/2312/all-types-landing.md
        - All Methods: view/versions/2312/methods-landing.md
        - All Properties: view/versions/2312/properties-landing.md
        - Query Service: view/versions/2312/queries-landing.md
        - Error Attributes: view/versions/2312/error-attributes.md
        - Error Codes: view/versions/2312/error-codes.md
      - v2309: 
        - view/versions/2309/index.md
        - Service Types: view/versions/2309/mo-types-landing.md
        - Data Object Types: view/versions/2309/do-types-landing.md
        - Fault Types: view/versions/2309/fault-types-landing.md
        - All Types: view/versions/2309/all-types-landing.md
        - All Methods: view/versions/2309/methods-landing.md
        - All Properties: view/versions/2309/properties-landing.md
        - Query Service: view/versions/2309/queries-landing.md
        - Error Attributes: view/versions/2309/error-attributes.md
        - Error Codes: view/versions/2309/error-codes.md
      - v2306: 
        - view/versions/2306/index.md
        - Service Types: view/versions/2306/mo-types-landing.md
        - Data Object Types: view/versions/2306/do-types-landing.md
        - Fault Types: view/versions/2306/fault-types-landing.md
        - All Types: view/versions/2306/all-types-landing.md
        - All Methods: view/versions/2306/methods-landing.md
        - All Properties: view/versions/2306/properties-landing.md
        - Query Service: view/versions/2306/queries-landing.md
        - Error Attributes: view/versions/2306/error-attributes.md
        - Error Codes: view/versions/2306/error-codes.md
      - v2303: 
        - view/versions/2303/index.md
        - Service Types: view/versions/2303/mo-types-landing.md
        - Data Object Types: view/versions/2303/do-types-landing.md
        - Fault Types: view/versions/2303/fault-types-landing.md
        - All Types: view/versions/2303/all-types-landing.md
        - All Methods: view/versions/2303/methods-landing.md
        - All Properties: view/versions/2303/properties-landing.md
        - Query Service: view/versions/2303/queries-landing.md
        - Error Attributes: view/versions/2303/error-attributes.md
        - Error Codes: view/versions/2303/error-codes.md
      - v2212: 
        - view/versions/2212/index.md
        - Service Types: view/versions/2212/mo-types-landing.md
        - Data Object Types: view/versions/2212/do-types-landing.md
        - Fault Types: view/versions/2212/fault-types-landing.md
        - All Types: view/versions/2212/all-types-landing.md
        - All Methods: view/versions/2212/methods-landing.md
        - All Properties: view/versions/2212/properties-landing.md
        - Query Service: view/versions/2212/queries-landing.md
        - Error Attributes: view/versions/2212/error-attributes.md
        - Error Codes: view/versions/2212/error-codes.md
      - v2209: 
        - view/versions/2209/index.md
        - Service Types: view/versions/2209/mo-types-landing.md
        - Data Object Types: view/versions/2209/do-types-landing.md
        - Fault Types: view/versions/2209/fault-types-landing.md
        - All Types: view/versions/2209/all-types-landing.md
        - All Methods: view/versions/2209/methods-landing.md
        - All Properties: view/versions/2209/properties-landing.md
        - Query Service: view/versions/2209/queries-landing.md
        - Error Attributes: view/versions/2209/error-attributes.md
        - Error Codes: view/versions/2209/error-codes.md
      - v2206: 
        - view/versions/2206/index.md
        - Service Types: view/versions/2206/mo-types-landing.md
        - Data Object Types: view/versions/2206/do-types-landing.md
        - Fault Types: view/versions/2206/fault-types-landing.md
        - All Types: view/versions/2206/all-types-landing.md
        - All Methods: view/versions/2206/methods-landing.md
        - All Properties: view/versions/2206/properties-landing.md
        - Query Service: view/versions/2206/queries-landing.md
        - Error Attributes: view/versions/2206/error-attributes.md
        - Error Codes: view/versions/2206/error-codes.md
      - v2111: 
        - view/versions/2111/index.md
        - Service Types: view/versions/2111/mo-types-landing.md
        - Data Object Types: view/versions/2111/do-types-landing.md
        - Fault Types: view/versions/2111/fault-types-landing.md
        - All Types: view/versions/2111/all-types-landing.md
        - All Methods: view/versions/2111/methods-landing.md
        - All Properties: view/versions/2111/properties-landing.md
        - Query Service: view/versions/2111/queries-landing.md
        - Error Attributes: view/versions/2111/error-attributes.md
        - Error Codes: view/versions/2111/error-codes.md
      - v2106: 
        - view/versions/2106/index.md
        - Service Types: view/versions/2106/mo-types-landing.md
        - Data Object Types: view/versions/2106/do-types-landing.md
        - Fault Types: view/versions/2106/fault-types-landing.md
        - All Types: view/versions/2106/all-types-landing.md
        - All Methods: view/versions/2106/methods-landing.md
        - All Properties: view/versions/2106/properties-landing.md
        - Query Service: view/versions/2106/queries-landing.md
        - Error Attributes: view/versions/2106/error-attributes.md
        - Error Codes: view/versions/2106/error-codes.md
      - v2103: 
        - view/versions/2103/index.md
        - Service Types: view/versions/2103/mo-types-landing.md
        - Data Object Types: view/versions/2103/do-types-landing.md
        - Fault Types: view/versions/2103/fault-types-landing.md
        - All Types: view/versions/2103/all-types-landing.md
        - All Methods: view/versions/2103/methods-landing.md
        - All Properties: view/versions/2103/properties-landing.md
        - Query Service: view/versions/2103/queries-landing.md
        - Error Attributes: view/versions/2103/error-attributes.md
        - Error Codes: view/versions/2103/error-codes.md
      - v8.1.0: 
        - view/versions/8.1.0/index.md
        - Service Types: view/versions/8.1.0/mo-types-landing.md
        - Data Object Types: view/versions/8.1.0/do-types-landing.md
        - Fault Types: view/versions/8.1.0/fault-types-landing.md
        - All Types: view/versions/8.1.0/all-types-landing.md
        - All Methods: view/versions/8.1.0/methods-landing.md
        - All Properties: view/versions/8.1.0/properties-landing.md
        - Query Service: view/versions/8.1.0/queries-landing.md
        - Error Attributes: view/versions/8.1.0/error-attributes.md
        - Error Codes: view/versions/8.1.0/error-codes.md
      - v8.0.0: 
        - view/versions/8.0.0/index.md
        - Service Types: view/versions/8.0.0/mo-types-landing.md
        - Data Object Types: view/versions/8.0.0/do-types-landing.md
        - Fault Types: view/versions/8.0.0/fault-types-landing.md
        - All Types: view/versions/8.0.0/all-types-landing.md
        - All Methods: view/versions/8.0.0/methods-landing.md
        - All Properties: view/versions/8.0.0/properties-landing.md
        - Query Service: view/versions/8.0.0/queries-landing.md
        - Error Attributes: view/versions/8.0.0/error-attributes.md
        - Error Codes: view/versions/8.0.0/error-codes.md
      - v7.13.0: 
        - view/versions/7.13.0/index.md
        - Service Types: view/versions/7.13.0/mo-types-landing.md
        - Data Object Types: view/versions/7.13.0/do-types-landing.md
        - Fault Types: view/versions/7.13.0/fault-types-landing.md
        - All Types: view/versions/7.13.0/all-types-landing.md
        - All Methods: view/versions/7.13.0/methods-landing.md
        - All Properties: view/versions/7.13.0/properties-landing.md
        - Query Service: view/versions/7.13.0/queries-landing.md
        - Error Attributes: view/versions/7.13.0/error-attributes.md
        - Error Codes: view/versions/7.13.0/error-codes.md
